{% if not ocultar_no_aplica %}
<option value="No aplica" {% if selected_carrera == 'No aplica' %}selected{% endif %}>No aplica</option>
{% endif %}
<option value="Ingeniería Civil" {% if selected_carrera == 'Ingeniería Civil' %}selected{% endif %}>Ingeniería Civil</option>
<option value="Ingeniería en Alimentos" {% if selected_carrera == 'Ingeniería en Alimentos' %}selected{% endif %}>Ingeniería en Alimentos</option>
<option value="Ingeniería en Energía Eléctrica" {% if selected_carrera == 'Ingeniería en Energía Eléctrica' %}selected{% endif %}>Ingeniería en Energía Eléctrica</option>
<option value="Ingeniería Electrónica" {% if selected_carrera == 'Ingeniería Electrónica' %}selected{% endif %}>Ingeniería Electrónica</option>
<option value="Ingeniería en Agrimensura" {% if selected_carrera == 'Ingeniería en Agrimensura' %}selected{% endif %}>Ingeniería en Agrimensura</option>
<option value="Ingeniería en Informática" {% if selected_carrera == 'Ingeniería en Informática' %}selected{% endif %}>Ingeniería en Informática</option>
<option value="Ingeniería en Petróleo" {% if selected_carrera == 'Ingeniería en Petróleo' %}selected{% endif %}>Ingeniería en Petróleo</option>
<option value="Ingeniería Industrial" {% if selected_carrera == 'Ingeniería Industrial' %}selected{% endif %}>Ingeniería Industrial</option>
<option value="Ingeniería Mecánica" {% if selected_carrera == 'Ingeniería Mecánica' %}selected{% endif %}>Ingeniería Mecánica</option>
<option value="Ingeniería Naval" {% if selected_carrera == 'Ingeniería Naval' %}selected{% endif %}>Ingeniería Naval</option>
<option value="Ingeniería Química" {% if selected_carrera == 'Ingeniería Química' %}selected{% endif %}>Ingeniería Química</option>
<option value="Lic. en Análisis de Sistemas" {% if selected_carrera == 'Lic. en Análisis de Sistemas' %}selected{% endif %}>Lic. en Análisis de Sistemas</option>
<option value="Bioingeniería" {% if selected_carrera == 'Bioingeniería' %}selected{% endif %}>Bioingeniería</option>
