{% extends "layouts/base.html" %} {% block content %}
<main
  class="hero"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
  "
>
  <div class="logout-card" style="text-align: center">
    <h2>Cerrando sesión...</h2>
    <p class="subtitle">
      Gracias por utilizar el sistema de la Biblioteca FIUBA. Serás redirigido
      en breve.
    </p>
  </div>
</main>
<script>
  setTimeout(() => {
    window.location.href = "{{ url_for('public.home') }}";
  }, 5000);
</script>
{% endblock %}
