<div class="auth-card">
  <div class="auth-header">
    <h1>
      {% if isLogUp %}
      Crear cuenta
      {% else %}
      Iniciar sesión
      {% endif %}
    </h1>
    <p>Bienvenido a la comunidad de Biblioteca FIUBA</p>
    {% if hasError %}
    <p class="auth-error">{{ errorMessage }}</p>
    {% endif %}
  </div>

  {% if isLogUp %}
  <form action="{{ url_for('public.logup_submit') }}" method="POST" class="auth-form">
    {% else %}
    <form action="{{ url_for('public.login_submit') }}" method="POST" class="auth-form">
      {% endif %}

      {% if articulo_id %}
        <input type="hidden" name="articulo_id" value="{{ articulo_id }}" />
      {% endif %}
      {% if isLogUp %}
      <div class="data-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" id="nombre" name="nombre" class="auth-input" required />
      </div>
      {% endif %}

      <div class="data-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" class="auth-input" pattern=".+@fi\.uba\.ar"
          title="Debe usar su cuenta institucional @fi.uba.ar" required />
      </div>

      {% if isLogUp %}
      <div class="data-group">
        <label for="carrera">Carrera</label>
        <select id="carrera" name="carrera" class="auth-input" required>
          {% set selected_carrera = '' %}
          {% set ocultar_no_aplica = True %}
          {% include "admin/opciones_carreras.html" %}
        </select>
      </div>
      {% endif %}

      <div class="data-group">
        <label for="contrasenia">Contraseña</label>
        <input type="password" id="contrasenia" name="contrasenia" class="auth-input" required />
      </div>

      <button type="submit" class="auth-btn-nav">
        {% if isLogUp %}
        Registrarse
        {% else %}
        Iniciar sesión
        {% endif %}
      </button>
    </form>

    <p class="auth-alt-option">
      {% if isLogUp %}
      ¿Ya tienes cuenta? <a href="{{ url_for('public.login') }}">Inicia sesión</a>
      {% else %}
      ¿No tienes cuenta? <a href="{{ url_for('public.logup') }}">Registrate</a>
      {% endif %}
    </p>
</div>